grpcio-tools ~= 1.30


python -m grpc_tools.protoc -I ../protobufs --python_out=. \
         --grpc_python_out=. ../protobufs/db.proto


python -m grpc_tools.protoc --proto_path=. ../protobufs/db.proto --python_out=. --grpc_python_out=.